body {
    background-color: var(--color-bck);
}

.coursepage {
    display: grid;
    grid-template-columns: 10% 75% 15%;
    min-height: 97vh;
}

.sidenav, .sidenav2 {
    height: 78vh;
    top: 60px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    
    z-index: 1;
    padding: 3px;
}

.sidenav button {
    height: 10%;
    margin: 5px;
    font-size: 17px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
}

.sidenav {
    display: flex;
    flex-direction: column;
    background-color: var(--color-course1);
}

.sidenavcontainer {
    background-color: var(--color-course1);
}

.sidenav2 {
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: var(--color-medium);
}

.sidenav2 div {
    background-color: var(--color-light);
    border: 2px solid var(--color-border-light);
    margin: 4px;
    padding: 4px;
}

.sidenavcontainer2 {
    background-color: var(--color-medium);
}

.coursecontent {
    width: 100%;
    background-color: var(--color-bck);
}

.course1 {
    border-bottom-width: 10px !important;
    padding-top: 12px !important;
}

#content-container {
    padding: 60px;
}

/* contains course plan and recordings styling! */
#content-table, #recordings-table {
    border-collapse: collapse;
    width: 100%;
}

/* contains course plan and recordings styling! */
#content-table td, #content-table th, 
#recordings-table td, #recordings-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* contains course plan and recordings styling! */
#content-table tr:nth-child(even), 
#recordings-table tr:nth-child(even)
{background-color: #f2f2f2;}

/* contains course plan and recordings styling! */
#content-table tr:hover, #recordings-table tr:hover {background-color: #ddd;}

/* contains course plan and recordings styling! */
#content-table th, #recordings-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#course-material-grid {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--color-bck);
    padding: 10px;
}

#course-material-items {
    background-color: var(--color-bck);
    padding: 10px;
    border: 10px solid grey;
}

#course-material-header {
    font-size: 35px;
    margin-top: 5px;
}

#course-material-text {
    font-size: 22px;
}

#other-info {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#other-info button {
    margin: 15px;
    height: 30vh;
    outline: none;
    color: white;
    background-color: var(--color-dark);
    border: 0px solid var(--color-dark);
    font-size: 30px;
    padding: 20px;
    border-radius: 4px;
}

#other-info button:hover {
    filter: brightness(1.2);
}