.course1 {
    border-bottom-width: 10px !important;
    padding-top: 12px !important;
}

.sidenavcontainer {
    background-color: var(--color-course1);
}

.sidenav {
    background-color: var(--color-course1);
}