:root {

    --color-course1: hsl(0, 70%, 50%);
    --color-course2: hsl(130, 70%, 50%);
    --color-course3: hsl(61, 70%, 50%);
    --color-course1-highlight: hsl(0, 50%, 50%);
    --color-course2-highlight: hsl(130, 50%, 50%);
    --color-course3-highlight: hsl(61, 50%, 50%);

    --color-navbar: hsl(226, 33%, 32%);
    
    --color-bck: hsl(226, 33%, 93%);
    --color-dark: hsl(226, 33%, 47%);
    --color-medium: hsl(226, 33%, 67%);
    --color-light: hsl(226, 33%, 78%);
    
    --color-calendar-buttons: hsl(226, 33%, 72%);
    --color-border-dark: hsl(226, 33%, 33%);
    --color-border-medium: hsl(226, 33%, 55%);
    --color-border-light: hsl(226, 33%, 58%);

    --color-footer: hsl(226, 33%, 20%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-bck);
}

/* Navbar */

.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: flex;
    background-color: var(--color-navbar);
    top: 0;
    z-index: 10;
}

.logo {
    color: white;
    font-size: 25px;
    margin: 15px;
    margin-right: 50px;
    margin-left: 15px;
    cursor: pointer;
}

.logo:hover {
    color: hsl(0, 0%, 85%);
}

.course-items {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.course-items li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 0px;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

.course-items li:hover {
    border-bottom-width: 10px;
    padding-top: 12px;
}

.course-items p {
    max-width: 150px;
    font-size: 18px;
    margin: 8px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course1 {
    border-bottom-color: var(--color-course1);
}

.course2 {
    border-bottom-color: var(--color-course2);
}

.course3 {
    border-bottom-color: var(--color-course3);
}


.profile {
    margin: auto 20px auto auto;
}

.profile img{
    height: 40px;
}

.profile:hover .burger-dropdown {
    display: grid;
    align-content: right;
}

.burger-dropdown {
    text-align: right;
    display: none;
    position: absolute;
    padding: 6px;
    margin-right: 12px;
    right:0;
    background-color: var(--color-medium);
    border-radius: 4px;
    border: 3px solid var(--color-border-medium);
}

.burger-dropdown button {
    font-size: 25px;
    border-radius: 4px;
    background-color: var(--color-medium);
    outline: none;
    border: none;
}

.burger-dropdown button:hover{
    filter: brightness(1.2);
}


/* Footer */

footer {
    background-color: var(--color-footer);
    display: grid;
    grid-template-columns: 15% 15% 15% 10% 15% 15% 15%;
    align-items: center;
    text-align: center;
    height: 65px;
    z-index: 4;
}

footer a {
    color: var(--color-light);
    font-size: 18px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}