body {
    background-color: rgb(204, 204, 204);
}



/* INFO BOXES */

#infoboxes {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.box {
    margin: 20px;
    border: 2px solid rgb(43, 43, 43);
    background-color: rgb(108, 134, 108);
    border-radius: 10px;
}

.boxtitle {
    font-size: xx-large;
}



.announcement-element, .assignment-element {
    cursor: pointer;
    display: grid;
    align-items: center;
    border: 2px solid  rgb(64, 88, 64);;
    background-color:  rgb(149, 179, 149);
    border-radius: 10px;
}

.assignment-element:hover, .announcement-element:hover{
    filter: brightness(0.9);
}

.announcement-element {
    grid-template-columns: 70% 30%;
}

.assignment-element{
    grid-template-columns: 50% 25% 25%;
}

.infobox-text {
    flex-grow: 3;
    text-align: left;
}

.infobox-text2 {
    text-align: right;
}

.box p{
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.infobox-button {
    background-color: rgb(149, 179, 149);
    border-radius: 10px;
}






/* Footer */

footer {
    text-align: center;
    background-color: rgb(30, 35, 41);
    display: flex;
    align-items: center;
  }

.footeritem {
    flex-grow: 5;
}

footer a {
    color:rgb(159, 173, 194);
    font-size: 30px; 
}