:root {
    --navpadding: 2px;
    --colordark: rgb(56, 81, 163);
    --colormedium: rgb(146, 157, 197);
    --colorlight: rgb(190, 198, 226);
    --colorbck: rgb(226, 230, 236);
    --colorcourse1: rgb(189, 63, 63);
    --colorcourse2: rgb(39, 161, 59);
    --colorcourse3: rgb(214, 175, 48);
    --colorborderdark: rgb(47, 47, 105);
    --colorbordermedium: rgb(113, 147, 165);
    --colorborderlight: rgb(106, 129, 158);
}

body {
    margin: 0px;
    padding: 0px;
    background-color:var(--colorbck);
}


.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: flex;
    align-items: center;
    background-color: var(--colordark);
    top: 0;
}

.logo {
    margin: var(--navpadding);
    cursor: pointer;
    filter: brightness(0.6)
}

.logo:hover {
    filter: brightness(2.0);
    transition: all 0.2s ease 0s;
}

.course-items {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.course-items li {
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.course-items li:hover {
    filter: brightness(1.2);
}

#course1 {
    background-color: var(--colorcourse1);
}

#course2 {
    background-color: var(--colorcourse2);
}

#course3 {
    background-color: var(--colorcourse3);
}

.course-items li p {
    max-width: 150px;
    font-size: 18px;
    margin: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile {
    margin: auto 10px auto auto;
    padding: var(--navpadding);
}

.profile:hover .burger-dropdown {
    display: grid;
    align-content: right;
}

.burger-dropdown {
    text-align: right;
    display: none;
    position: absolute;
    padding: 4px;
    margin-right: 10px;
    right:0;
    background-color: var(--colormedium);
    border-radius: 4px;
    border: 3px solid var(--colorbordermedium);
}

.burger-dropdown button {
    width: 100%;
    margin: 1px;
    border: none;
    font-size: 25px;
    outline: none;
    background-color: transparent;
    border-radius: 4px;
    background-color: var(--colormedium);
}

.burger-dropdown button:hover{
    filter: brightness(1.2);
}

/* SCROLLBUTTON */

#scroll-button {
    text-align: center;
    display: flex;
    justify-content: center;
}

.scrollbutton {
    text-align: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid var(--colorborderdark);
    background-color: var(--colordark);
}

.scrollbutton:hover{
    filter: brightness(1.2);
}

.arrowdown {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* INFO BOXES */

#infoboxes {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 10px;
}

.box {
    margin: 20px;
    border: 2px solid var(--colorbordermedium);
    background-color: var(--colormedium);
    border-radius: 10px;
    padding: 5px;
    height: 85vh;
    display: grid;
    grid-template-rows: 10% 75% 15%;
}

.boxtitle {
    font-size: xx-large;
}



.announcement-element, .assignment-element {
    cursor: pointer;
    display: grid;
    align-items: center;
    border-radius: 10px;
    height: 10%;
    border: 2px solid  var(--colorborderlight);
    background-color:  var(--colorlight);
}

.assignment-element:hover, .announcement-element:hover, .infobox-button:hover{
    filter: brightness(1.2);
}

.announcement-element {
    grid-template-columns: 75% 25%;
}

.assignment-element{
    grid-template-columns: 5% 35% 35% 25%;
}

.course1 {
    background-color: var(--colorcourse1);
}

.course2 {
    background-color: var(--colorcourse2);
}

.course3 {
    background-color: var(--colorcourse3);
}

.dot {
    margin: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.infobox-text {
    flex-grow: 3;
    text-align: left;
}

.infobox-text2 {
    text-align: right;
}

.box p{
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.infobox-button {
    background-color: var(--colorlight);
    border-radius: 10px;
    border: 2px solid  var(--colorborderlight);
    font-size: 22px;
}






/* Footer */

footer {
    text-align: center;
    background-color: rgb(22, 38, 58);
    display: grid;
    align-items: center;
    height: 8vh;
    grid-template-columns: 15% 15% 15% 10% 15% 15% 15%;
  }

footer a {
    color:rgb(159, 173, 194);
    font-size: 30px; 
}