* {
    font-size: 18px;
    color: hsl(0, 0%, 85%);
}

body {
    background-color: hsl(219,12%,90%);
    color: hsl(0, 0%, 75%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

input[type=text], input[type=password] {
    background-color: hsl(219, 12%, 90%);
    border: none;
    outline: none;
    color: hsl(0, 0%, 20%);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px 18px 0px;
    box-sizing: border-box;
}

::placeholder {
    color: hsl(0, 0%, 60%);
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    background-color: hsl(217, 47%, 26%);
}

.register, .login {
    display: inline-block;
    margin-top: 8px;
    color: red;
}