body {
    background-color: var(--color-bck);
}

.coursepage {
    display: grid;
    grid-template-columns: 11% 74% 15%;
    min-height: 97vh;
}

.highlighted {
    border-right: 5px solid black !important;
    border-left: 5px solid white !important;
}

.sidenav, .sidenav2 {
    height: 78vh;
    top: 60px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    
    z-index: 1;
    padding: 3px;
}

.sidenav button {
    cursor: pointer;
    height: 11%;
    margin: 5px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
}

.sidenav {
    display: flex;
    flex-direction: column;
}

.sidenavcontainer2 {
    background-color: var(--color-medium);
}

.sidenav2 {
    background-color: var(--color-medium);
}

.sidenav2 div {
    border: 0px solid var(--color-border-light);
    margin: 15px;
}

.sidenav2 div p {
    padding: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-bottom: 2px;
    color: white;
    background-color: var(--color-dark);
}

.sidenav2 div div {
    margin: 0;
    margin-bottom: 2px;
    padding: 5px;
    background-color: var(--color-light);
    font-size: 14px;
    min-height: 28px;
    cursor: pointer;
}

.coursecontent {
    width: 100%;
    background-color: var(--color-bck);
}

#content-container {
    padding: 60px;
}

/* contains course plan and recordings styling! */
#content-table, #recordings-table {
    border-collapse: collapse;
    width: 100%;
}

/* contains course plan and recordings styling! */
#content-table td, #content-table th, 
#recordings-table td, #recordings-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* contains course plan and recordings styling! */
#content-table tr:nth-child(even), 
#recordings-table tr:nth-child(even)
{background-color: #f2f2f2;}

/* contains course plan and recordings styling! */
#content-table tr:hover, #recordings-table tr:hover {background-color: #ddd;}

/* contains course plan and recordings styling! */
#content-table th, #recordings-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#course-material-grid {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--color-bck);
    padding: 10px;
}

#course-material-items {
    background-color: var(--color-bck);
    padding: 10px;
    border: 10px solid grey;
}

#course-material-header {
    font-size: 35px;
    margin-top: 5px;
}

#course-material-text {
    font-size: 22px;
}

#other-info {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#other-info button {
    margin: 15px;
    height: 30vh;
    outline: none;
    color: white;
    background-color: var(--color-dark);
    border: 0px solid var(--color-dark);
    font-size: 30px;
    padding: 20px;
    border-radius: 4px;
}

#other-info button:hover {
    filter: brightness(1.2);
}